#navbar{
	flex-direction: column;
	padding-top: 0.5rem;
	padding-bottom: 0.7rem;
	overflow: hidden;
	height: 80px;
	font-size: 0.8rem;
}

#about .items{
	flex-direction: column;
}
#about .items .item{
	width: 100%;
}
.projects .projects{
	flex-direction: column;
}